@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.body {
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;
    color: inherit; /* Ensures that links inherit the color of their surrounding text */
}

a:hover {
    text-decoration: none; /* Ensures no underline appears when hovering */
    color: #FFF; /* You can specify a color on hover if needed */
}

/* main {
    background-color: rgba(231, 228, 228, 1);
    background-image: url("https://cdn.pixabay.com/photo/2016/12/27/19/30/book-1934675_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Cover the entire area */
/* background-attachment: scroll; */
/* Change to scroll so it moves with content */
/* background-position: center top; */
/* Position at the top center */
/* padding-top: 5vh; */
/* Add padding to push content down below subnav */
/* } */

.gradient-text {
    font-size: 4rem;
    /* Adjust the size as needed */
    background: linear-gradient(45deg, #ff0000, #ea00ff, #3c00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: small;
    font-weight: bold;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    /* text-align: center; */
}

#homepage_image {
    width: 20vw;
    margin-top: 20px;
    /* Add margin to separate from text */
    position: relative;
    /* Ensure it's positioned according to the flow */
    z-index: 2;
    border-radius: 15px;
    transition: all 0.2s;
}

#homepage_image:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.subnav {
    background-color: rgba(57, 53, 53, 1);
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;

}

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


.body {
    background-color: #000;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
    text-decoration: none;
    color: inherit;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none; /* Ensures no underline appears when hovering */
    color: #FFF; /* You can specify a color on hover if needed */

}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    #homepage_image {
        width: 70vw;
        /* Adjust the percentage or set a specific width like '500px' */
    }

    .logo {
        height: 40px;
    }
}

@media only screen and (max-height: 300px) {
    .subnav {
        display: none;
    }
}