{% extends "layout.html" %}

{% block title %}
: Courses
{% endblock %}

{% block main %}
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='BCA') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">BCA</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of BCA</p>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='BBA') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">BBA</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of BBA</p>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='BCom') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">B.Com</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of B.Com</p>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='BSc') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">BSc</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of BSc</p>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='MSc') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">MSc</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of MSc</p>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="{{ url_for('course', course_name='BA') }}" class="ag-courses-item_link" target="_blank">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">BA</div>
        <div class="ag-courses-item_date-box">
          <p>This is a collection of all the previous year question papers of BA</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
